@model List<RTA_Transit_Feedback.FeedBackForm>

@{
    ViewBag.Title = "FeedBackIndex";
}
<h2>FeedBackIndex</h2>

    <h4>FeedBackForm</h4>
    <hr />
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofRide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeofRide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Batch.TrackingNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FeedbackID }) |
                @Html.ActionLink("Details", "Details", new { id = item.FeedbackID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FeedbackID })
            </td>
        </tr>
    }

