@model IEnumerable<RTA_Transit_Feedback.Batch>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Batches</h2>


<div class="container-fluid">

    <div class="row">
        <div class="col">
            @Html.DisplayNameFor(model => model.BatchID)
        </div>
        <div class="col">
            Feedback in Batch
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.TrackingNo)
        </div>
        <div class="col">
            Batch Functions
        </div>

    </div>


    @{var colorswap = false;}
    @foreach (var item in Model)
    {

        if (colorswap == false)
        {
            colorswap = true;
            <div class="row"  id="indexfeedbackcolor">

                <div class="col">
                    @Html.DisplayFor(model => item.BatchID)
                </div>
                <div class="col">
                    @(item.FeedBackForm.Count())
                </div>
                <class class="col">
                    <a href='@String.Format("https://tools.usps.com/go/TrackConfirmAction?tLabels={0}", @Html.DisplayFor(modelItem => item.TrackingNo))' target="_blank">@Html.DisplayFor(modelItem => item.TrackingNo)</a>
                </class>
                <div class="col">
                    <div class="btn-group">
                        <button>@Html.ActionLink("Add Tracking Number", "Edit", new { id = item.BatchID })</button>
                        <button>@Html.ActionLink("Details", "Details", new { id = item.BatchID })</button>
                        <button>@Html.ActionLink("Print Batch", "PrintBatchAction", new { id = item.BatchID }, new { target = "_blank" })</button>
                    </div>
                </div>
            </div>

        }
        else
        {
            colorswap = false;
            <div class="row" id="indexfeedbackcolortwo">
                <div class="col">
                    @Html.DisplayFor(model => item.BatchID)
                </div>
                <div class="col">
                    @(item.FeedBackForm.Count())
                </div>
                <class class="col">
                    <a href='@String.Format("https://tools.usps.com/go/TrackConfirmAction?tLabels={0}", @Html.DisplayFor(modelItem => item.TrackingNo))' target="_blank">@Html.DisplayFor(modelItem => item.TrackingNo)</a>
                </class>
                <div class="col">
                    <div class="btn-group">
                        <button>@Html.ActionLink("Add Tracking Number", "Edit", new { id = item.BatchID })</button>
                        <div class="tooltip"> Stuff?
                            <span class="tooltiptext">Tooltip text</span>
                        </div>
                        <button>@Html.ActionLink("Details", "Details", new { id = item.BatchID })</button>
                        <button>@Html.ActionLink("Print Batch", "PrintBatchAction", new { id = item.BatchID }, new { target = "_blank" })</button>
                    </div>
                </div>
            </div>
        }

    }

</div>
