@model List<RTA_Transit_Feedback.FeedBackForm>

@{
    ViewBag.Title = "PrintBatch";
}

@{
    Layout = null;
}

@*<h2>RideHappyOutput</h2>*@

<head>

    <link href="~/Content/RideHappyOutput.css" rel="stylesheet" />

    <style>



    </style>
</head>






<body>
    @for(int i=0; Model.Count>i;i++)
    {


        <div class="container">
            <div class="rideHappyCard">
                <img src=null;>
           
            </div>
            <div class="feedbackLn1">@Html.DisplayFor(model => model[i].FeedbackDescription)</div>
            <div class="dateOfRide">@Html.DisplayFor(model => model[i].DateofRide)</div>

            @*<div class="dateOfRide">@Model.DateofRide.ToString("MM-dd-yyyy")</div>*@

            @*<div>@String.Format("dd-MMM-yyyy", Model.DateofRide)</div>*@

            <div class="timeOfRide">@Html.DisplayFor(model => model[i].TimeofRide)</div>
            <div class="routeNameNumber">@Html.DisplayFor(model => model[i].RouteName)</div>
            <div class="busRapidNumber">@Html.DisplayFor(model => model[i].VehNum)</div>
            <div class="riderFname">@Html.DisplayFor(model => model[i].Customers.FirstName) @Html.DisplayFor(model => model[i].Customers.LastName)</div>
            <div class="riderAddressLn1">@Html.DisplayFor(model => model[i].Customers.AddressL1) @Html.DisplayFor(model => model[i].Customers.AddressL2)</div>
            <div class="riderCity">@Html.DisplayFor(model => model[i].Customers.City)</div>
            <div class="riderState">@Html.DisplayFor(model => model[i].Customers.state.stateName)</div>
            <div class="riderZip">@Html.DisplayFor(model => model[i].Customers.Zip)</div>
            <div class="riderPhone">@Html.DisplayFor(model => model[i].Customers.PhoneNum)</div>
            <div class="riderEmail">@Html.DisplayFor(model => model[i].Customers.AspNetUsers.Email)</div>
        </div>
        @*<p>@Html.ActionLink("Print", "Print", "RideHappyOutput", new { id = Model.FeedbackID })</p>*@
    if(Model.Count != i + 1)
        {

     <p class="breakhere"></p>
        }
    }

</body>