@model RTA_Transit_Feedback.Models.FeedBackCreateViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Finish Your Card</h2>

<h2>Create</h2>





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" oninput="DescriptionForm()">
            @Html.LabelFor(model => model.feedBackForm.FeedbackDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.feedBackForm.FeedbackDescription, new { htmlAttributes = new { @class = "form-control DescriptionInput", placeholder = "Provide your comments here.", cols = 35, @rows = 5 } })

                @Html.ValidationMessageFor(model => model.feedBackForm.FeedbackDescription, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.feedBackForm.DateofRide, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" oninput="DateForm()">
            @Html.TextBoxFor(model => model.feedBackForm.DateofRide, new { type = "date", @class = "DateInput" })
            @Html.ValidationMessageFor(model => model.feedBackForm.DateofRide, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.feedBackForm.TimeofRide, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" oninput="TimeForm()">
            @Html.TextBoxFor(model => model.feedBackForm.TimeofRide, new { type = "time", @class = "TimeInput" })
            @Html.ValidationMessageFor(model => model.feedBackForm.TimeofRide, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group" oninput="RouteNameForm()">
        @Html.LabelFor(model => model.feedBackForm.RouteName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.feedBackForm.RouteName, new { htmlAttributes = new { @class = "form-control RouteNameInput", placeholder = "Route 3, Red Line, HealthLine" } })
            @Html.ValidationMessageFor(model => model.feedBackForm.RouteName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.feedBackForm.VehNum, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" oninput="VehicleForm()">
            @Html.EditorFor(model => model.feedBackForm.VehNum, new { htmlAttributes = new { @class = "form-control VehicleInput", placeholder = "e.g. 1026" } })
            @Html.ValidationMessageFor(model => model.feedBackForm.VehNum, "", new { @class = "text-danger" })
        </div>
    </div>
    <button id="btnShowModal" type="button"
            class="btn btn-default">
        Continue
    </button>



    <div class="modal fade" tabindex="-1" id="loginModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <h2>Ready to submit?</h2>
                        <p>Your feedback can't be changed after being submitted. Press Submit to continue, or Cancel to go back.</p>
                    </form>
                </div>

                @*<div class="formDisplay CreateForm">
                    <img src="~/images/RideHappy.jpg" />
                    <p class="FeedBackCardDescription RideHappyCardText"></p>
                    <p class="FeedBackCardRouteName RideHappyCardText"></p>
                    <p class="FeedBackCardVehicle RideHappyCardText"></p>
                    <p class="FeedBackCardDate RideHappyCardText"></p>
                    <p class="FeedBackCardTime RideHappyCardText"></p>

                    <p class="FeedBackCardFirstName RideHappyCardText">@Url.Content(Model.customers.FirstName)</p>
                    <p class="FeedBackCardLastName RideHappyCardText">@Url.Content(Model.customers.LastName)</p>
                    <p class="FeedBackCardAddressOne RideHappyCardText">@Url.Content(Model.customers.AddressL1)</p>
                    <p class="FeedBackCardAddressTwo RideHappyCardText">@Url.Content(Model.customers.AddressL2)</p>
                    <p class="FeedBackCardCity RideHappyCardText">@Url.Content(Model.customers.City)</p>
                    <p class="FeedBackCardState RideHappyCardText">@Url.Content(Model.state)</p>
                    <p class="FeedBackCardPhone RideHappyCardText">@Url.Content(Model.customers.PhoneNum)</p>
                    <p class="FeedBackCardZip RideHappyCardText">@Url.Content(Model.customers.Zip)</p>
                    <p class="FeedBackCardEmail RideHappyCardText">@Url.Content(User.Identity.Name)</p>
                </div>*@

                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Submit</button>
                    <button type="button" id="btnHideModal" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>

}
<div class="formDisplay CreateForm">
    <img src="~/images/RideHappy.jpg" />
    <p class="FeedBackCardDescription RideHappyCardText"></p>
    <p class="FeedBackCardRouteName RideHappyCardText"></p>
    <p class="FeedBackCardVehicle RideHappyCardText"></p>
    <p class="FeedBackCardDate RideHappyCardText"></p>
    <p class="FeedBackCardTime RideHappyCardText"></p>

    <p class="FeedBackCardFirstName RideHappyCardText">@Url.Content(Model.customers.FirstName)</p>
    <p class="FeedBackCardLastName RideHappyCardText">@Url.Content(Model.customers.LastName)</p>
    <p class="FeedBackCardAddressOne RideHappyCardText">@Url.Content(Model.customers.AddressL1)</p>
    <p class="FeedBackCardAddressTwo RideHappyCardText">@Url.Content(Model.customers.AddressL2)</p>
    <p class="FeedBackCardCity RideHappyCardText">@Url.Content(Model.customers.City)</p>
    <p class="FeedBackCardState RideHappyCardText">@Url.Content(Model.state)</p>
    <p class="FeedBackCardPhone RideHappyCardText">@Url.Content(Model.customers.PhoneNum)</p>
    <p class="FeedBackCardZip RideHappyCardText">@Url.Content(Model.customers.Zip)</p>
    <p class="FeedBackCardEmail RideHappyCardText">@Url.Content(User.Identity.Name)</p>
</div>

<script>
    function DescriptionForm() {
        var x = document.getElementsByClassName("DescriptionInput")[0].value;
        document.getElementsByClassName("FeedBackCardDescription")[0].innerHTML = x;
    }
    function RouteNameForm() {
        var x = document.getElementsByClassName("RouteNameInput")[0].value;
        document.getElementsByClassName("FeedBackCardRouteName")[0].innerHTML = x;
    }
    function VehicleForm() {
        var x = document.getElementsByClassName("VehicleInput")[0].value;
        document.getElementsByClassName("FeedBackCardVehicle")[0].innerHTML = x;
    }
    function DateForm() {
        var x = document.getElementsByClassName("DateInput")[0].value;
        document.getElementsByClassName("FeedBackCardDate")[0].innerHTML = x;
    }
    function TimeForm() {
        var x = document.getElementsByClassName("TimeInput")[0].value;
        document.getElementsByClassName("FeedBackCardTime")[0].innerHTML = x;
    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>




<script type="text/javascript">

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
    });
</script>





