@model RTA_Transit_Feedback.FeedBackForm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FeedBackForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FeedbackDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeedbackDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofRide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofRide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeofRide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeofRide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Batch.TrackingNo)
        </dt>

        <dd>
            <a href='@String.Format("https://tools.usps.com/go/TrackConfirmAction?tLabels={0}", @Html.DisplayFor(model => model.Batch.TrackingNo))'target="_blank">@Html.DisplayFor(model => model.Batch.TrackingNo)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customers.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeedbackID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
