@model RTA_Transit_Feedback.Models.FeedBackRelayViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>table</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.BatchAll)
                @*@Html.ValidationMessageFor(model => model.Forms[i].toBatch, new { htmlAttributes = new { @class = "form-control" } })*@
            </div>
        </div>
        @for (int i = 0; Model.Forms.Count > i; i++)
        {

            @Html.HiddenFor(model => Model.Forms[i].FeedbackID)
            @Html.HiddenFor(model => Model.Forms[i].FeedbackDescription)
            @Html.HiddenFor(model => Model.Forms[i].DateofRide)
            @Html.HiddenFor(model => Model.Forms[i].TimeofRide)
            @Html.HiddenFor(model => Model.Forms[i].RouteName)
            @Html.HiddenFor(model => Model.Forms[i].VehNum)
            @Html.HiddenFor(model => Model.Forms[i].CustomerID)
            @Html.HiddenFor(model => Model.Forms[i].Batch)
            @Html.HiddenFor(model => Model.Forms[i].BatchID)
            @Html.HiddenFor(model => Model.Forms[i].Customers)
            @Html.HiddenFor(model => Model.Forms[i].isDanger)



            <div class="row">
                <div class="col">
                    <p>@Url.Content(Model.Forms[i].TimeofRide.ToString())</p>
                </div>
                <div class="col">
                    @*Changes bool for at risk feedback*@
                    @if (Model.Forms[i].isDanger == true)
                    {
                        @*Highlights At Risk Feeback*@

                        <p id="feedbackList" style="color:red">@Url.Content(((int)((DateTime.Now - Model.Forms[i].DateofRide).TotalDays)).ToString())</p>
                    }
                    else
                    {
                        <p>@Url.Content(((int)((DateTime.Now - Model.Forms[i].DateofRide).TotalDays)).ToString())</p>
                    }
                </div>
                <div class="form-group">
                    <div class="col">
                        @Html.CheckBoxFor(model => model.Forms[i].toBatch)
                        @*@Html.ValidationMessageFor(model => model.Forms[i].toBatch, new { htmlAttributes = new { @class = "form-control" } })*@
                    </div>
                </div>
                @Html.ActionLink("Print to PDF", "RideHappyOutput", new { id = Model.Forms[i].FeedbackID }) |
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
