@model RTA_Transit_Feedback.Models.FeedBackRelayViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Select Feedbacks to Print</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container-fluid">
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            <p>Batch All:    @Html.EditorFor(model => model.BatchAll)</p>
            @*@Html.ValidationMessageFor(model => model.Forms[i].toBatch, new { htmlAttributes = new { @class = "form-control" } })*@
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Date of Ride
            </p>
        </div>
        <div class="col">
            <p>
                Days since Submission
            </p>
        </div>
        <div class="col">
            <p>
                Batch
            </p>
        </div>
    </div>
    @{var colorswap = false;}
    @for (int i = 0; Model.Forms.Count > i; i++)
    {

        @Html.HiddenFor(model => Model.Forms[i].FeedbackID)
        @Html.HiddenFor(model => Model.Forms[i].FeedbackDescription)
        @Html.HiddenFor(model => Model.Forms[i].DateofRide)
        @Html.HiddenFor(model => Model.Forms[i].TimeofRide)
        @Html.HiddenFor(model => Model.Forms[i].RouteName)
        @Html.HiddenFor(model => Model.Forms[i].VehNum)
        @Html.HiddenFor(model => Model.Forms[i].CustomerID)
        @Html.HiddenFor(model => Model.Forms[i].Batch)
        @Html.HiddenFor(model => Model.Forms[i].BatchID)
        @Html.HiddenFor(model => Model.Forms[i].Customers)
        @Html.HiddenFor(model => Model.Forms[i].isDanger)



        if (colorswap == false)
        {
            colorswap = true;
            <div class="row" id="indexfeedbackcolor">
                <div class="col">
                    <p>@Html.DisplayFor(model => Model.Forms[i].DateofRide)</p>
                </div>
                <div class="col">
                    @*Changes bool for at risk feedback*@
                    @if (Model.Forms[i].isDanger == true)
                    {
                        @*Highlights At Risk Feeback*@
                        <p id="feedbackList" style="color:red">@Url.Content(((int)((DateTime.Now - Model.Forms[i].DateofRide).TotalDays)).ToString())</p>
                    }
                    else
                    {
                        <p>@Url.Content(((int)((DateTime.Now - Model.Forms[i].DateofRide).TotalDays)).ToString())</p>
                    }
                </div>
                <div class="form-group">
                    <div class="col">
                        @Html.CheckBoxFor(model => model.Forms[i].toBatch)
                        @*@Html.ValidationMessageFor(model => model.Forms[i].toBatch, new { htmlAttributes = new { @class = "form-control" } })*@
                    </div>
                </div>
                @Html.ActionLink("Print to PDF", "RideHappyOutput", new { id = Model.Forms[i].FeedbackID }) |
            </div>

        }
        else
        {
            <div class="row" id="indexfeedbackcolortwo">
                <div class="col">
                    <p>@Html.DisplayFor(model => Model.Forms[i].DateofRide)</p>
                </div>
                <div class="col">
                    @*Changes bool for at risk feedback*@
                    @if (Model.Forms[i].isDanger == true)
                    {
                        @*Highlights At Risk Feeback*@
                        <p id="feedbackList" style="color:red">@Url.Content(((int)((DateTime.Now - Model.Forms[i].DateofRide).TotalDays)).ToString())</p>
                    }
                    else
                    {
                        <p>@Url.Content(((int)((DateTime.Now - Model.Forms[i].DateofRide).TotalDays)).ToString())</p>
                    }
                </div>
                <div class="form-group">
                    <div class="col">
                        @Html.CheckBoxFor(model => model.Forms[i].toBatch)
                        @*@Html.ValidationMessageFor(model => model.Forms[i].toBatch, new { htmlAttributes = new { @class = "form-control" } })*@
                    </div>
                </div>
                @Html.ActionLink("Print to PDF", "RideHappyOutput", new { id = Model.Forms[i].FeedbackID }) |
            </div>
            colorswap = false;
        }

    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Set Selected to Batch" class="btn btn-default" />
        </div>
    </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
