@model RTA_Transit_Feedback.FeedBackForm

@{
    ViewBag.Title = "RideHappyOutput";
}

@*<h2>RideHappyOutput</h2>*@

<head>
    <style>


        p {
            font-size: 17px;
        }

        .container {
            position: relative;
            color: black;
            font-weight: 400;
            width: 480px;
        }



        .feedbackLn1 {
            position: absolute;
            top: 113px;
            left: 42px;
            text-align: left;
            overflow-wrap: break-word;
            font-size: 14px;
            font-weight: 400;
            line-height: 39px;
            width: 400px;
        }

        .dateOfRide {
            position: absolute;
            top: 278px;
            left: 135px;
            text-align: center;
            font-size: 17px;
            font-weight: 600;
        }


        .timeOfRide {
            position: absolute;
            top: 279px;
            left: 345px;
            text-align: center;
            font-size: 17px;
            font-weight: 600;
        }

        .routeNameNumber {
            position: absolute;
            top: 316px;
            left: 249px;
            text-align: center;
            font-size: 17px;
            font-weight: 600;
        }

        .busRapidNumber {
            position: absolute;
            top: 354px;
            left: 262px;
            text-align: left;
            font-size: 17px;
            font-weight: 600;
        }

        .riderName {
            position: absolute;
            top: 393px;
            left: 225px;
            text-align: center;
            font-size: 17px;
            font-weight: 600;
        }

        .riderAddress {
            position: absolute;
            top: 432px;
            left: 98px;
            text-align: left;
            font-size: 17px;
            font-weight: 600;
        }

        .riderCity {
            position: absolute;
            top: 471px;
            left: 72px;
            text-align: left;
            font-size: 17px;
            font-weight: 600;
        }

        .riderState {
            position: absolute;
            top: 509px;
            left: 80px;
            text-align: left;
            font-size: 17px;
            font-weight: 600;
        }

        .riderZip {
            position: absolute;
            top: 509px;
            left: 271px;
            text-align: left;
            font-size: 17px;
            font-weight: 600;
        }

        .riderPhone {
            position: absolute;
            top: 548px;
            left: 106px;
            text-align: center;
            font-size: 17px;
            font-weight: 600;
        }

        .riderEmail {
            position: absolute;
            top: 552px;
            left: 309px;
            text-align: center;
            font-size: 9px;
            font-weight: 600;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="rideHappyCard">
            <img src="../../Images/RideHappy.jpg" style="width: 442px; z-index:-1; border: dashed 1px;">
        </div>
        <div class="feedbackLn1">@Html.DisplayFor(model => model.FeedbackDescription)</div>
        <div class="dateOfRide">@Html.DisplayFor(model => model.DateofRide)</div>
        <div class="timeOfRide">@Html.DisplayFor(model => model.TimeofRide)</div>
        <div class="routeNameNumber">@Html.DisplayFor(model => model.RouteName)</div>
        <div class="busRapidNumber">@Html.DisplayFor(model => model.VehNum)</div>
        <div class="riderName">Mike H.</div>
        <div class="riderAddress">123 Elm St.</div>
        <div class="riderCity">Nashville</div>
        <div class="riderState">TN</div>
        <div class="riderZip">54321</div>
        <div class="riderPhone">512-987-6543</div>
        <div class="riderEmail">joeschome@email.org</div>
    </div>
    @*<p>@Html.ActionLink("Print", "Print", "RideHappyOutput", new { id = Model.FeedbackID })</p>*@
    <p>@Html.ActionLink("Print", "PrintViewToPdf", "FeedBackForms")</p>


</body>