@model RTA_Transit_Feedback.FeedBackForm

@{
    ViewBag.Title = "RideHappyOutput";
}

@{
    Layout = null;
}


<head>

    <link href="~/Content/RideHappyOutput.css" rel="stylesheet" />

    <style>

    </style>
</head>
<body>

    <div class="container">
        <div class="feedbackLn1">@Html.DisplayFor(model => model.FeedbackDescription)</div>
        <div class="dateOfRide">@Html.DisplayFor(model => model.DateofRide)</div>
        <div class="timeOfRide">@Html.DisplayFor(model => model.TimeofRide)</div>
        <div class="routeNameNumber">@Html.DisplayFor(model => model.RouteName)</div>
        <div class="busRapidNumber">@Html.DisplayFor(model => model.VehNum)</div>
        <div class="riderFname">@Html.DisplayFor(model => model.Customers.FirstName) @Html.DisplayFor(model => model.Customers.LastName)</div>
        <div class="riderAddressLn1">@Html.DisplayFor(model => model.Customers.AddressL1) @Html.DisplayFor(model => model.Customers.AddressL2)</div>
        <div class="riderCity">@Html.DisplayFor(model => model.Customers.City)</div>
        <div class="riderState">@Html.DisplayFor(model => model.Customers.state.stateName)</div>
        <div class="riderZip">@Html.DisplayFor(model => model.Customers.Zip)</div>
        <div class="riderPhone">@Html.DisplayFor(model => model.Customers.PhoneNum)</div>
        <div class="riderEmail">@Html.DisplayFor(model => model.Customers.AspNetUsers.Email)</div>
    </div>
</body>