<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="bodybg"></div>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Facilitating your feedback!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Create a new Ride Happy card", "Create", "FeedbackForms")</li>@*//What you see, the action/page associated, controller name*@
                    <li>@Html.ActionLink("View previous cards", "Index", "FeedBackForms")</li>
                    <li>@Html.ActionLink("About", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                <span class="navbar-text">
                    @*Navbar text with an inline element*@
                </span>
            </div>
        </nav>
    <div class="undernavdiv"></div>
        <div class="container-fluid body-content">
            @RenderBody()
            @*<hr />*@
            @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
